.ipynb_checkpoints/
.virtual_documents/
Conglomerate_Concrete_Crack_Detection.zip
Conglomerate_Concrete_Crack_Detection/
checkpoints/
env/
runs/
isbi_2012_challenge.zip
isbi_2012_challenge/
DIC-C2DH-HeLa-Train
DIC-C2DH-HeLa.zip
